body{
    background-image: url('jssjsjs.jpg');
    background-size: 80%;
    background-position:center ;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 40px;
    color: rgb(10, 10, 10);
    

}
h1{
    color: rgb(250, 177, 20);

}

form {
    color: rgb(250, 177, 20);
    font-weight: 600;
}

form input [type="text"]{
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    height: 30px;

}
.menus{
    width: 400px;
    background: rgb(243, 240, 239);
    padding: 20px;
    margin: auto;
    margin-top: 15px;
    border-radius: 2px;
    margin-bottom: 10px;
    border: 84px black;
}